- name: app-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: maven_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: maven-setup.yaml  

- name: systemd-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd-setup.yaml  
    
- name: install dependencie
  ansible.builtin.pip:
        name: "{{ item }}"
        executable: pip3.9
  loop:
    - PyMySQL 
    - cryptography

- name: import shipping data
  community.mysql.mysql_db:
        state: import
        name: all
        login_host: "{{ MYSQL_HOST }}"
        login_user: root
        login_password: RoboShop@1
        target: "{{ item }}"
  loop:
      - /app/db/schema.sql
      - /app/db/app-user.sql 
      - /app/db/master-data.sql






    
- name: start cart
  ansible.builtin.service:
        name: cart
        state: restarted
        enabled: yes  